<% include ../partials/header %>
    <div class="jumbotron">
            <h1 class="display-3">5930213003</h1>
            <p class="display-3">PHATSARA R.</p>
            <hr class="my-2">
            
        </div>  

 <% include ../partials/footer %>
