<% include ../partials/header %>

<table class="table">
    <thead>
        <tr>
            <th>Code</th>
            <th>Title</th>
            <th>Credits</th>
            <th>Section</th>
        </tr>
    </thead>
    <tbody>
    <% subjects.forEach(function(subjects) { %>
        <tr>
        <td scope="row"><%= subjects.code %></td>
            <td><%= subjects.title %></td>
            <td><%= subjects.credits %></td>
            <td><%= subjects.section %></td>
        </tr>
        <% });%>
    </tbody>
</table>